
<div id="dl-menu" class="section1 navbar navbar-inverse navbar-fixed-left">
    <div class="logo">
        <a onclick="location.href='@Url.Action("ReturnToIndex")'" data-menu="index">
            <img src="https://cdn-wedding-mc.azureedge.net/cdn/Logo_NavIcon.png" alt="Logo" />
        </a>
    </div>
    <ul class="dl-menu nav navbar-nav menubar vertical_iconmenu">
        <li data-animation="7" class="active">
            <partial name="~/Views/Shared/MenuBar/_Administration.cshtml" />
        </li>
    </ul>
</div>


<div class="main-page-area">
    <div id="pt-main" class="pt-perspective">
        <div class="pt-page pt-page-7">
            <div class="container-fluid display_none bg-main-image">
                <div class="blur-img bg-rsvp"></div>
                <div class="page-fixed">
                    <div class="bg-main-image-overlay-fixed ">
                        <div class="main-section">
                            <div class="col-md-12">
                                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                                    <h2>Administración de Invitados<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                                </div>
                                <div class="container">
                                    <div class="rsvp">
                                        <div class="rsvp-form white-box wow fadeInUp col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" data-class="fadeInUp">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="invitationCode" id="invitationCode" required />
                                                        <label for="invitationCode">Búsqueda por código de Invitación</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="rsvp-button text-center">
                                                            <button id="confirmAssistance" type="submit" class="hvr-sweep-to-right">Agregar Familia</button>
                                                            <div id="loding" style="display:none; padding-left:20px;">
                                                                <img src="~/images/ajax-loader.gif" alt="Loader">
                                                            </div>
                                                        </div>  
                                                        <input type="hidden" value="LastName" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <table class="table" style="color: black">
                                    <thead>
                                        <tr>
                                            <th scope="col"><p>Codigo De Invitación</p></th>
                                            <th scope="col"><p>Familia</p></th>
                                            <th scope="col"><p>Integrantes</p></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">NOVIO-1</th>
                                            <td>Reyes Contreras</td>
                                            <td>Paola, Aldo</td>
                                            <td>Editar | Eliminar</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">NOVIO-2</th>
                                            <td>Contreras Ventura</td>
                                            <td>Naty, Primo, Javi</td>
                                            <td>Editar | Eliminar</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
