<div class="pt-page pt-page-7">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-rsvp"></div>
        <div class="page-fixed">
            <div class="bg-main-image-overlay-fixed ">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Administración<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="container">
                            <div class="rsvp">
                                <div class="rsvp-form white-box wow fadeInUp col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" data-class="fadeInUp">
                                    <p>
                                        Aquí sólo pueden entrar los novios <br>
                                    </p>
                                    <div id="Success" class="successalert" style=" display:none;"> <strong>Thank you</strong>. </div>
                                    <div id="Error" class="errorelert" style="display:none;"> <strong>Error occurred while sending email.</strong> Try again later. </div>
                                    
                                    @using (Html.BeginForm("ShowAttendees", "Home", FormMethod.Get, new { @class = "form floating-label text-left form-validate" }))
                                    {
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="password" id="password" required />
                                            <label for="invitationCode">Ingresa la contraseña</label>
                                        </div>
                                        <div class="rsvp-button text-center">
                                            <button id="sendInvitationCode" type="submit" class="hvr-sweep-to-right">Enviar</button>
                                            <div id="loding" style="display:none; padding-left:20px;">
                                                <img src="~/images/ajax-loader.gif" alt="Loader">
                                            </div>
                                        </div>
                                    }

                                    <!--<form class="form floating-label text-left form-validate" name="frm" id="frm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Name" name="Name" required data-rule-minlength="2" />
                                            <label for="Name">Nombre</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Contactnumber" name="Contactnumber" data-rule-number="true" required />
                                            <label for="Contactnumber">Teléfono</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="Emailaddress" name="Emailaddress" required />
                                            <label for="Emailaddress">Correo Electrónico</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select id="attendiesDetails" name="attendiesDetails" class="form-control select2-list dirty" required>
                                                        <option value="">Selecciona</option>
                                                        <option value='0'>Si</option>
                                                        <option value='1'>No</option>
                                                        <option value='2'>No estoy Seguro</option>
                                                    </select>
                                                    <label for="attendiesDetails">¿Asistirás?</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select id="guestDetails" name="guestDetails" class="form-control select2-list dirty" required>
                                                        <option value="">Selecciona</option>
                                                        <option value='1'>1</option>
                                                        <option value='2'>2</option>
                                                        <option value='3'>3</option>
                                                    </select>
                                                    <label for="guestDetails">¿Cuantas personas asistirán?</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" name="message"></textarea>
                                            <label>Déjanos un mensaje o una dedicatoria... </label>
                                        </div>
                                        <div class="rsvp-button text-center">
                                            <button type="submit" class="hvr-sweep-to-right">Enviar</button>
                                            <div id="loding" style="display:none; padding-left:20px;"><img src="~/images/ajax-loader.gif" alt="Loader"></div>
                                        </div>
                                    </form>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>