<div class="pt-page pt-page-6">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-gallery"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2-gallery">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Nuestros Momentos<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="container">
                            <div class="col-md-12 about-the-people">
                                <p class="col-md-6 col-md-offset-3 col-xs-12">“El amor es paciente y bondadoso; no es envidioso ni jactancioso, no se envanece; no hace nada impropio; no es egoísta ni se irrita; no es rencoroso” <i><b>- Corintios 13:4-5</b></i></p>
                            </div>
                        </div>
                        <div class="page-top display_none">
                            <div class="gridlayout-main">
                                <div class="gridlayout">
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/4.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/4.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery">-->
                                            <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/2.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/2.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/6.1.png" data-fancybox-group="gallery">
                                        <!--<a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery">-->
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/6.1.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/1.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/1.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/8.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/8.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                       <!--<a class="fancybox" href="images/gallery/1000x800.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/3.png" data-fancybox-group="gallery">
                                           <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/3.png">
                                           <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/7.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/7.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/9.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/9.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/10.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/10.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/11.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/11.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/12.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/12.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/13.png" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/13.png">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--a class="fancybox" href="images/gallery/1000x800.jpg" data-fancybox-group="gallery">-->
                                        <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/14.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/14.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <!--<a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery">-->
                                            <a class="fancybox" href="https://cdn-wedding-mc.azureedge.net/cdn/15.jpg" data-fancybox-group="gallery">   
                                            <img class="img-responsive" alt="gallery-image" src="https://cdn-wedding-mc.azureedge.net/cdn/15.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>