<div class="pt-page pt-page-6">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-gallery"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2-gallery">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Gallery<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="page-top display_none">
                            <div class="gridlayout-main">
                                <div class="gridlayout">
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x900.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/1000x800.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x800.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x1000.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x900.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/1000x800.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x800.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery">
                                            <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x1000.jpg">
                                            <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>