<div class="pt-page pt-page-1 home-overflow">
    <div class="container-fluid bg-main-image">
        <div class=" blur-img bg-home"></div>
        <div class="page-fixed">
            <div class="bg-main-image-overlay">
                <div class="main-section">
                    <div class=" inner-data">
                        <div class="couple-name">
                            <h1 class="wow fadeInLeft">Mayra </h1>
                            <span class="glyphicon glyphicon-heart"></span>
                            <h1 class="wow fadeInRight">Carlos </h1>
                        </div>
                        <div class="tag-line wow fadeInUp">
                            <p><span>NUESTRA BODA</span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="countdown countdown-container container">
                            <div class="clock row">
                                <div class="clock-item clock-days countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-days" class="clock-canvas"></div>
                                            <div class="text">
                                                <p class="val"></p>
                                                <p class="type-days type-time">Días</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clock-item clock-hours countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.35s">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-hours" class="clock-canvas"></div>
                                            <div class="text">
                                                <p class="val"></p>
                                                <p class="type-hours type-time">Horas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clock-item clock-minutes countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.45s">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-minutes" class="clock-canvas"></div>
                                            <div class="text">
                                                <p class="val"></p>
                                                <p class="type-minutes type-time">Minutos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clock-item clock-seconds countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.55s">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-seconds" class="clock-canvas"></div>
                                            <div class="text">
                                                <p class="val"></p>
                                                <p class="type-seconds type-time">Segundos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>