<div class="pt-page pt-page-3">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-loveline"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Nuestra Historia De Amor <span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="col-md-12 text-center vector-img wow fadeInUp" data-class="fadeInUp"> <img class="img" src="images/loveline-vector.png" alt="Vectorimage" /> </div>
                        <div class="clearfix"></div>
                        <div class="container-fluid display_none">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">¿Cómo nos conocimos?</h3>
                                            <span class="label label-default">02 Jan 2015</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum. Suspendisse potenti. Quisque felis est, blandit sed laoreet quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><a href="#" target="_blank"><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.3s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Nuestra Primera Cita</h3>
                                            <span class="label label-default">10 Feb 2015</span>
                                        </div>
                                        <div class="timeline-img"> <img class="img-responsive" src="http://placehold.it/900x600" alt="coupledateimage" /> </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum. Suspendisse potenti. Quisque felis est, blandit sed laoreet quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1.6s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Compromiso</h3>
                                            <span class="label label-default">05 Mar 2016</span>
                                        </div>
                                        <div class="ceremony-slider">
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged1" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged2" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged3" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged4" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged5" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged6" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged7" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged8" /> </div>
                                            <div> <img class="img-responsive" src="http://placehold.it/300x300" alt="engaged9" /> </div>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum. Suspendisse potenti. Quisque felis est, blandit sed laoreet quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.9s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Outdoor Tour</h3>
                                            <span class="label label-default">05 May 2016</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="embed-responsive embed-responsive-4by3 tour-video">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KRY0Z9CAZdk"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="2.2s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Finalmente Unimos Nuestras Vidas</h3>
                                            <span class="label label-default">05 May 2016</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum. Suspendisse potenti. Quisque felis est, blandit sed laoreet quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>