<div class="pt-page pt-page-3">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-loveline"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Nuestra Historia De Amor <span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="col-md-12 text-center vector-img wow fadeInUp" data-class="fadeInUp"> <img class="img" src="images/loveline-vector.png" alt="Vectorimage" /> </div>
                        <div class="clearfix"></div>
                        <div class="container-fluid display_none">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">¿Cómo nos conocimos?</h3>
                                            <span class="label label-default">01 De Enero De 2021</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Nos conocimos hace 3 años, todo empezó desde un simple mensaje hasta el momento de coincidir en persona, fueron varias semanas hablando por texto, hasta que de pronto un fin de semana nos vimos físicamente, 
                                               pasamos tiempo platicando esa noche de quién éramos, que nos gustaba hacer, todo paso muy rápido, de vernos cada semana, a estar viendonos diariamente por las noches, hasta que llegó el momento en que los dos 
                                               decidimos ya no ser amigos, empezar una relación de novios.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><a href="#" target="_blank"><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.3s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Nuestra Primera Cita</h3>
                                            <span class="label label-default">28 De Agosto De 2022</span>
                                        </div>
                                        <div class="timeline-img"> <img class="img-responsive" src="https://cdn-wedding-mc.azureedge.net/cdn/primera_salida.png" alt="coupledateimage" /> </div>
                                        <div class="timeline-body">
                                            <p>Fue hasta ese momento en que un 28 de agosto del 2022 fuimos novios, vernos diariamente nos llenaba de felicidad, nos sentíamos ajusto cada uno...Fue entonces que no solo había risas, si no también enojos, 
                                               pero cada enojo que teníamos, era algo importante para la relación ya que nos mostraba ser más fuertes y sobretodo amarnos y tenernos una confianza que pocos tienen con el otro, salimos nos divertiamos, 
                                               jugábamos y sobretodo había una conexión importante.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1.6s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Compromiso</h3>
                                            <span class="label label-default">01 De Enero De 2024</span>
                                        </div>
                                        <div class="timeline-img"> <img class="img-responsive" src="https://cdn-wedding-mc.azureedge.net/cdn/Propuesta_1.jpg" alt="coupledateimage" /> </div>
                                        <div class="timeline-body">
                                            <p>Pasamos grandes momentos juntos, como salidas en motos, salidas con las familias y cada mes que cumpliamos era algo especial para los dos, nos sentíamos especiales el uno para el otro, 
                                                juntos decidimos tomar un riesgo del cual nos sentimos orgullosos de lo que hicimos el cual sería unir nuestras vidas para posteriormente estar en planes de nuestra boda, es por eso que en 
                                                2024 decimos casarnos y formar una union que solamente dios nos a iluminado.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <!--<li class="timeline-inverted">
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.9s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Outdoor Tour</h3>
                                            <span class="label label-default">05 May 2016</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="embed-responsive embed-responsive-4by3 tour-video">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KRY0Z9CAZdk"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <li>
                                    <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                                    <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="2.2s">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title">Finalmente Unimos Nuestras Vidas</h3>
                                            <span class="label label-default">19 De Octubre De 2024</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>No será fácil. Será muy difícil. Tendremos que trabajar en esto cada día, pero queremos todo del otro, para siempre… todos los días.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>