<div class="pt-page pt-page-4">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-people"></div>
        <div class="page-fixed">
            <div class="bg-main-image-overlay-fixed">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Nuestros Padres & Padrinos <span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="container">
                            <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 wow fadeInLeft responsive-margin-double" data-class="fadeInLeft">
                                <div class="col-md-12 text-center couple-responsive-padding">
                                    <div class="cat-title">
                                        <p><span class="label label-default">Padres</span></p>
                                    </div>
                                    <div class="the-people  text-center">
                                        <div class="the-people-slider">
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/16.jpg" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="the-couple-data">
                                                    <h4>Enrique Contreras Hernández</h4>
                                                    <h4>Francisca Pérez Tomas</h4>
                                                    <p>Papás de la Novia</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/17.png" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="the-couple-data">
                                                    <h4>Cayetano Quezada Hernández</h4>
                                                    <h4>Nina Miriam Plata Medina</h4>
                                                    <p>Papás del Novio</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 pull-right wow fadeInRight  responsive-margin-double" data-class="fadeInRight">
                                <div class="col-md-12  text-center couple-responsive-padding">
                                    <div class="cat-title">
                                        <p><span class="label label bride-color">Padrinos</span></p>
                                    </div>
                                    <div class="the-people  text-center">
                                        <div class="the-people-slider">
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/19.jpg" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="the-couple-data">
                                                    <h4>Carlos Valdéz Castillo</h4>
                                                    <h4>Adela Contreras Hernández</h4>
                                                    <p>Velación</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/21.jpg" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="the-couple-data">
                                                    <h4>Moises Eduardo Pillado Mendoza</h4>
                                                    <h4>Nancy Plata Medina</h4>
                                                    <p>Anillos</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/16.jpg" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <div class="the-couple-data">
                                                    <h4>Enrique Contreras Hernández</h4>
                                                    <h4>Francisca Pérez Tomas</h4>
                                                    <p>Lazo</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/20.png" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <h4>Jesús Contreras Pérez </h4>
                                                <p>Arras</p>
                                            </div>
                                            <div>
                                                <div class="the-couple-img col-md-12 padding-left-right-zero">
                                                    <div class="person-image  img-circle">
                                                        <!--<img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">-->
                                                        <img src="https://cdn-wedding-mc.azureedge.net/cdn/18.jpg" alt="the-couple" class="img-circle img-responsive">
                                                    </div>
                                                </div>
                                                <h4>Bernardino Pérez García </h4>
                                                <h4>Laura Retana García</h4>
                                                <p>Medallas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>