<div class="pt-page pt-page-7">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-rsvp"></div>
        <div class="page-fixed">
            <div class="bg-main-image-overlay-fixed ">
                <div class="main-section">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Confirma tu Asistencia<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                        </div>
                        <div class="container">
                            <div class="rsvp">
                                <div class="rsvp-form white-box wow fadeInUp col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" data-class="fadeInUp">
                                    <p>
                                        Confirma tu asistencia antes del día <br>
                                        <span>19 de Septiembre</span>
                                    </p>
                                    <div id="Success" class="successalert" style=" display:none;"> <strong>Gracias</strong>. </div>
                                    <div id="Error" class="errorelert" style="display:none;"> <strong>Hubo un error al confirmar.</strong> Inténtalo Después. </div>
                                    
                                    <form class="form floating-label text-left form-validate" name="frmSearchFamilyDetails" id="frmSearchFamilyDetails" method="get">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="invitationCodeToConfirm" id="invitationCodeToConfirm" required />
                                            <label for="invitationCodeToConfirm">Código de Invitación</label>
                                        </div>
                                        <div class="rsvp-button text-center">
                                            <button id="sendInvitationCode" type="submit" class="hvr-sweep-to-right">Enviar</button>
                                            <div id="loding" style="display:none; padding-left:20px;">
                                                <img src="~/images/ajax-loader.gif" alt="Loader">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>