<a href="#0" data-menu="rsvp">
    <svg version="1.1" id="Layer_8" x="0px" y="0px"
         viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
    <g>
    <g>
    <path d="M13.666,26.761c-0.167,0-0.333-0.064-0.461-0.191c-0.254-0.254-0.254-0.667,0-0.921L35.246,3.61
            c0.254-0.254,0.667-0.254,0.921,0c0.254,0.254,0.254,0.667,0,0.921l-22.041,22.04C13.999,26.698,13.832,26.761,13.666,26.761z" />
        </g>
    <g>
    <path d="M3.81,48.617c-0.914,0-1.387-0.275-1.689-0.576c-0.771-0.771-1.367-2.666,2.356-10.181
            c1.963-3.963,4.245-7.687,4.268-7.724c0.027-0.044,0.058-0.083,0.094-0.12l5.076-5.077c0.254-0.254,0.667-0.254,0.921,0
            c0.254,0.254,0.254,0.667,0,0.921l-5.022,5.022c-0.31,0.51-2.379,3.936-4.174,7.562c-3.554,7.177-2.789,8.486-2.599,8.675
            c0.19,0.189,1.499,0.955,8.681-2.603c3.626-1.796,7.047-3.861,7.556-4.171l2.684-2.686c0.254-0.254,0.667-0.254,0.921,0
            c0.254,0.254,0.254,0.667,0,0.921l-2.74,2.741c-0.036,0.036-0.076,0.068-0.12,0.094c-0.037,0.023-3.761,2.304-7.724,4.268
            C7.725,47.95,5.233,48.617,3.81,48.617z" />
        </g>
    <g>
    <path d="M22.894,38.302c-0.167,0-0.333-0.064-0.46-0.191c-0.254-0.254-0.254-0.667,0-0.921L45.63,13.994
            c0.254-0.254,0.667-0.254,0.921,0c0.254,0.254,0.254,0.667,0,0.921L23.355,38.111C23.228,38.238,23.061,38.302,22.894,38.302z" />
        </g>
    <g>
    <path d="M9.156,46.274c-0.273,0-0.527-0.173-0.618-0.445c-0.009-0.026-0.468-1.356-1.485-2.374
            c-1.038-1.038-2.451-1.561-2.465-1.566c-0.338-0.123-0.512-0.497-0.389-0.835c0.123-0.338,0.498-0.512,0.835-0.389
            c0.069,0.025,1.7,0.629,2.94,1.868c1.246,1.247,1.778,2.817,1.8,2.883c0.113,0.341-0.071,0.71-0.412,0.824
            C9.293,46.263,9.224,46.274,9.156,46.274z" />
        </g>
    <g>
    <path d="M19.405,41.102c-0.217,0-0.429-0.109-0.553-0.306c-0.016-0.026-1.634-2.596-4.045-5.007
            c-2.417-2.417-5.15-4.196-5.177-4.213c-0.302-0.195-0.389-0.599-0.193-0.901c0.195-0.302,0.598-0.389,0.9-0.193
            c0.116,0.075,2.873,1.868,5.391,4.386c2.521,2.52,4.16,5.128,4.229,5.238c0.191,0.305,0.098,0.707-0.207,0.897
            C19.642,41.07,19.523,41.102,19.405,41.102z" />
        </g>
    <g>
    <path d="M46.091,15.106c-0.208,0-0.412-0.099-0.538-0.284c-0.021-0.031-2.104-3.067-4.625-5.588
            c-2.525-2.525-5.558-4.605-5.588-4.626C35.042,4.405,34.966,4,35.169,3.703c0.203-0.297,0.608-0.373,0.905-0.17
            c0.128,0.087,3.164,2.17,5.774,4.781c2.609,2.61,4.692,5.646,4.78,5.775c0.203,0.297,0.126,0.702-0.17,0.905
            C46.345,15.069,46.217,15.106,46.091,15.106z" />
        </g>
    <g>
    <path d="M42.254,18.942c-0.208,0-0.412-0.099-0.538-0.284c-0.021-0.03-2.104-3.067-4.626-5.588
            c-2.525-2.524-5.558-4.604-5.588-4.625c-0.297-0.203-0.373-0.608-0.171-0.905c0.203-0.297,0.609-0.374,0.905-0.171
            c0.128,0.087,3.165,2.17,5.775,4.78c2.61,2.61,4.693,5.646,4.78,5.774c0.203,0.297,0.126,0.702-0.17,0.905
            C42.508,18.905,42.381,18.942,42.254,18.942z" />
        </g>
    <g>
    <path d="M45.784,13.82c-0.167,0-0.333-0.064-0.461-0.191c-0.254-0.254-0.254-0.667,0-0.921c1.371-1.371,1.961-2.673,1.803-3.979
            c-0.142-1.174-0.892-2.425-2.292-3.825c-2.876-2.876-5.023-2.971-7.655-0.338c-0.254,0.254-0.667,0.254-0.921,0
            c-0.254-0.254-0.254-0.667,0-0.921c4.105-4.104,7.386-1.772,9.497,0.338c1.614,1.615,2.486,3.116,2.664,4.59
            c0.209,1.73-0.502,3.383-2.176,5.056C46.117,13.757,45.951,13.82,45.784,13.82z" />
        </g>
    <g>
    <path d="M19.402,34.809c-0.167,0-0.333-0.064-0.461-0.191c-0.254-0.254-0.254-0.667,0-0.921l16.874-16.873
            c0.254-0.254,0.667-0.254,0.921,0c0.254,0.254,0.254,0.667,0,0.921L19.863,34.618C19.735,34.745,19.569,34.809,19.402,34.809z" />
        </g>
    <g>
    <path d="M15.667,31.072c-0.167,0-0.333-0.064-0.46-0.191c-0.254-0.254-0.254-0.667,0-0.921l16.873-16.873
            c0.254-0.254,0.667-0.254,0.921,0c0.254,0.254,0.254,0.667,0,0.921L16.128,30.882C16,31.009,15.834,31.072,15.667,31.072z" />
        </g>
      </g>
      </svg>Admin
</a>