<a href="#0" data-menu="gallery">
    <svg version="1.1" id="Layer_6" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
    <g>
    <g>
    <path d="M41.796,40.02H8.204c-2.514,0-4.559-2.045-4.559-4.559V19.59c0-2.493,2.025-4.641,4.514-4.788l9.298-0.547
            c1.97-0.116,4.382-1.048,5.268-2.036c1.125-1.255,3.851-2.238,6.206-2.238h2.482c2.338,0,5.177,0.968,6.463,2.204
            c1.061,1.02,3.28,2.097,4.846,2.352c2.005,0.327,3.636,2.594,3.636,5.054v15.871C46.356,37.975,44.31,40.02,41.796,40.02z
             M28.93,11.283c-1.961,0-4.359,0.827-5.236,1.805c-1.117,1.246-3.823,2.329-6.161,2.467l-9.298,0.547
            c-1.813,0.107-3.288,1.671-3.288,3.487v15.871c0,1.796,1.461,3.257,3.257,3.257h33.593c1.796,0,3.257-1.461,3.257-3.257V19.59
            c0-1.818-1.165-3.544-2.543-3.768c-1.845-0.301-4.278-1.486-5.539-2.698c-1.038-0.998-3.584-1.84-5.56-1.84H28.93z" />
        </g>
    <g>
    <path d="M30.404,36.405c-5.917,0-10.732-4.795-10.732-10.688c0-5.893,4.814-10.687,10.732-10.687s10.732,4.794,10.732,10.687
            c0,2.007-0.562,3.963-1.625,5.657c-0.191,0.305-0.593,0.397-0.898,0.205c-0.305-0.191-0.397-0.593-0.205-0.898
            c0.932-1.486,1.425-3.202,1.425-4.964c0-5.175-4.23-9.385-9.429-9.385c-5.199,0-9.429,4.21-9.429,9.385
            c0,5.175,4.23,9.385,9.429,9.385c1.594,0,3.17-0.403,4.556-1.167c0.315-0.173,0.711-0.059,0.885,0.256
            c0.173,0.315,0.059,0.711-0.256,0.885C34.01,35.946,32.217,36.405,30.404,36.405z" />
        </g>
    <g>
    <path d="M24.267,26.369c-0.36,0-0.651-0.292-0.651-0.651c0-3.728,3.045-6.761,6.787-6.761c0.36,0,0.651,0.292,0.651,0.651
            c0,0.36-0.292,0.651-0.651,0.651c-3.024,0-5.485,2.448-5.485,5.458C24.919,26.077,24.627,26.369,24.267,26.369z" />
        </g>
    <g>
    <path d="M16.353,39.903c-0.36,0-0.651-0.292-0.651-0.651V22.663c0-0.36,0.292-0.651,0.651-0.651c0.36,0,0.651,0.292,0.651,0.651
            v16.589C17.004,39.612,16.713,39.903,16.353,39.903z" />
        </g>
    <g>
    <path d="M9.856,16.039c-1.342,0-2.476-1.045-2.581-2.38c-0.054-0.688,0.164-1.356,0.614-1.88c0.45-0.523,1.077-0.841,1.766-0.895
            l6.618-0.516c1.424-0.109,2.674,0.97,2.784,2.372c0.054,0.688-0.164,1.356-0.614,1.88c-0.449,0.524-1.076,0.842-1.766,0.896
            l-6.617,0.516C9.991,16.036,9.923,16.039,9.856,16.039z M16.477,11.661c-0.034,0-0.069,0.002-0.103,0.004l-6.618,0.516
            c-0.343,0.027-0.655,0.185-0.879,0.445c-0.223,0.26-0.331,0.589-0.304,0.929c0.055,0.695,0.673,1.227,1.385,1.176l6.617-0.516
            c0.343-0.027,0.655-0.185,0.879-0.445c0.223-0.26,0.331-0.59,0.304-0.93C17.706,12.18,17.144,11.661,16.477,11.661z" />
        </g>
      </g>
      </svg>Galería
</a>