<a href="#0" data-menu="people">
    <svg version="1.1" id="Layer_4" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
    <g>
    <g>
    <g>
    <g>
    <path d="M25.038,17.105c-2.9,0-4.999-3.802-4.999-6.365c0-2.756,2.242-4.998,4.999-4.998s4.999,2.242,4.999,4.998
                    C30.037,13.303,27.938,17.105,25.038,17.105z M25.038,7.044c-2.038,0-3.696,1.658-3.696,3.696c0,2.21,1.792,5.063,3.696,5.063
                    c1.904,0,3.696-2.852,3.696-5.063C28.734,8.702,27.076,7.044,25.038,7.044z" />
            </g>
    <g>
    <path d="M31.061,31.541h-2.275c-0.36,0-0.651-0.292-0.651-0.651c0-0.36,0.292-0.651,0.651-0.651h1.671l0.752-9.932
                    c-0.708-0.402-2.735-1.345-6.172-1.345c-3.433,0-5.461,0.942-6.172,1.345l0.752,9.932h1.671c0.36,0,0.651,0.292,0.651,0.651
                    c0,0.36-0.292,0.651-0.651,0.651h-2.275c-0.341,0-0.624-0.263-0.65-0.602l-0.827-10.925c-0.017-0.221,0.08-0.435,0.257-0.569
                    c0.097-0.073,2.42-1.786,7.243-1.786c4.824,0,7.147,1.713,7.243,1.786c0.177,0.134,0.274,0.348,0.257,0.569l-0.827,10.925
                    C31.685,31.278,31.402,31.541,31.061,31.541z" />
            </g>
    <g>
    <path d="M27.408,44.259h-4.741c-0.333,0-0.612-0.251-0.648-0.581L20.641,30.96c-0.039-0.358,0.22-0.679,0.577-0.718
                    c0.358-0.04,0.679,0.22,0.718,0.577l1.316,12.136h3.572l1.315-12.136c0.039-0.358,0.359-0.617,0.718-0.577
                    c0.357,0.039,0.616,0.36,0.577,0.718l-1.378,12.718C28.02,44.008,27.741,44.259,27.408,44.259z" />
            </g>
          </g>
    <g>
    <g>
    <path d="M37.227,19.757c-2.653,0-4.574-3.469-4.574-5.807c0-2.522,2.052-4.574,4.574-4.574c2.522,0,4.574,2.052,4.574,4.574
                    C41.801,16.288,39.88,19.757,37.227,19.757z M37.227,10.678c-1.804,0-3.271,1.468-3.271,3.271c0,1.967,1.586,4.505,3.271,4.505
                    c1.685,0,3.271-2.538,3.271-4.505C40.498,12.146,39.031,10.678,37.227,10.678z" />
            </g>
    <g>
    <path d="M42.662,32.783H40.61c-0.36,0-0.651-0.292-0.651-0.651s0.292-0.651,0.651-0.651h1.449l0.664-8.767
                    c-1.058-0.381-3.745-1.281-5.495-1.281c-2.211,0-5.23,1.119-5.261,1.13c-0.336,0.125-0.712-0.045-0.838-0.382
                    c-0.126-0.337,0.045-0.712,0.382-0.838c0.132-0.049,3.268-1.213,5.717-1.213c2.453,0,6.258,1.474,6.418,1.537
                    c0.267,0.104,0.434,0.37,0.413,0.656l-0.746,9.858C43.286,32.52,43.003,32.783,42.662,32.783z" />
            </g>
    <g>
    <path d="M39.366,42.852c-0.027,0-0.053-0.002-0.081-0.005c-0.357-0.044-0.611-0.369-0.567-0.726l1.244-10.068
                    c0.044-0.357,0.368-0.611,0.726-0.567c0.357,0.044,0.611,0.369,0.567,0.726L40.012,42.28
                    C39.971,42.61,39.691,42.852,39.366,42.852z" />
            </g>
          </g>
    <g>
    <g>
    <path d="M12.773,19.757c-2.653,0-4.574-3.469-4.574-5.807c0-2.522,2.052-4.574,4.574-4.574c2.522,0,4.574,2.052,4.574,4.574
                    C17.347,16.288,15.427,19.757,12.773,19.757z M12.773,10.678c-1.804,0-3.271,1.468-3.271,3.271c0,1.967,1.586,4.505,3.271,4.505
                    c1.685,0,3.271-2.538,3.271-4.505C16.045,12.146,14.577,10.678,12.773,10.678z" />
            </g>
    <g>
    <path d="M9.391,32.783H7.338c-0.341,0-0.624-0.263-0.65-0.602l-0.747-9.858c-0.022-0.285,0.146-0.552,0.413-0.656
                    c0.161-0.063,3.965-1.537,6.419-1.537c2.456,0,5.679,1.277,5.815,1.331c0.334,0.134,0.496,0.512,0.363,0.846
                    c-0.133,0.334-0.512,0.498-0.846,0.363c-0.031-0.012-3.128-1.238-5.331-1.238c-1.752,0-4.438,0.9-5.495,1.281l0.664,8.767h1.449
                    c0.36,0,0.651,0.292,0.651,0.651S9.75,32.783,9.391,32.783z" />
            </g>
    <g>
    <path d="M10.634,42.852c-0.324,0-0.605-0.242-0.646-0.571L8.744,32.212c-0.044-0.357,0.21-0.682,0.567-0.726
                    c0.361-0.044,0.682,0.21,0.726,0.567l1.244,10.068c0.044,0.357-0.21,0.682-0.567,0.726C10.687,42.85,10.66,42.852,10.634,42.852
                    z" />
            </g>
          </g>
        </g>
      </g>
      </svg>Nuestros Padres & Padrinos
</a>