<a href="#0" data-menu="wedding">
    <svg version="1.1" id="Layer_5" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
    <path d="M36.835,43.864c-0.104,0-0.209-0.025-0.304-0.075L25,37.702l-11.531,6.087c-0.219,0.116-0.486,0.097-0.687-0.049
    c-0.201-0.146-0.301-0.393-0.259-0.638l2.226-12.848l-9.353-9.086C5.218,20.995,5.154,20.736,5.23,20.5
    c0.077-0.236,0.281-0.408,0.527-0.443l9.853-1.415c0.359-0.049,0.686,0.196,0.737,0.552c0.051,0.356-0.196,0.686-0.552,0.737
    l-8.541,1.226l8.649,8.402c0.154,0.15,0.225,0.366,0.188,0.578l-2.059,11.881l10.663-5.629c0.19-0.1,0.418-0.1,0.608,0l10.663,5.629
    l-2.059-11.881c-0.037-0.212,0.034-0.428,0.188-0.578l8.649-8.402L30.81,19.443c-0.213-0.031-0.397-0.164-0.492-0.357L25,8.264
    l-3.924,7.984c-0.159,0.323-0.55,0.456-0.872,0.297c-0.323-0.159-0.456-0.549-0.297-0.872L24.415,6.5
    c0.11-0.223,0.336-0.364,0.585-0.364s0.475,0.141,0.585,0.364l5.751,11.703l12.907,1.853c0.246,0.035,0.45,0.207,0.527,0.443
    c0.077,0.236,0.012,0.495-0.166,0.668l-9.353,9.086l2.226,12.848c0.042,0.245-0.058,0.492-0.259,0.638
    C37.105,43.822,36.97,43.864,36.835,43.864z" />
      </svg>Itineriario
</a>